html, body, h1, h2, h3, h4, h5,div,p,header, footer, table,dl, dt, ul, li, p{
    padding: 0;
    margin: 0;
    color: #666;
}
body {
    /*background: #eee none repeat scroll 0 0;*/
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 16px;
}
.header h1{
    background: #103667 url("../images/02.png") no-repeat 0 -9px;
    border-radius: 7px 7px 0 0;
    color: #fff;
    height: 100px;
    line-height: 100px;
    letter-spacing: 2px;
    -webkit-background-size: 50%;
    background-size: 20%;
    text-indent: 200px;
}
.center-block{
    /*float: right;*/
    margin: 0 auto;
    display: block;
    font-size: 18px;
    width: 90%;
    /*background: red;*/
}
h2.text-center{
    margin: 0 0 10px 0;
}
.size{
    text-indent: 20px;
}


h4 {
    height: 50px;
    line-height: 50px;
}
li{
    list-style: none;
}
.size{
    text-indent: 35px;
    line-height: 30px;
    font-size: 18px;
}


.formula .MathJax_Display{
    height: 20px !important;
    line-height: 20px;
    margin: 0;
    font-size: 12px !important;
}
.table1{
    margin: 0 auto;

}
.table2{
    margin: 0 10px 0 -20px;
    font-family: 楷体;
}
.table3{
    margin: -21px 0 0 0;
}
div.pic{
    margin:0 auto;
    width: 762px;
    height: 702px;
    background: url("../images/pic.png") no-repeat;
}
div.pic1{
    margin:0 auto;
    width: 710px;
    height: 382px;
    background: url("../images/pic1.png") no-repeat;
}
h4.note{
    text-indent: 30px;
    margin: 0 auto;
    font-weight: bold;
}
td.md{
    width: 200px;
}
.tfooter{
    margin: -21px 0 0 0;
    text-align: center;
}
.totalDiscount{
    width: 200px;
}
.totalScore{
    width: 200px;
}
footer{
    height: 50px;
    border-top: 1px solid #999;
}
footer div{
    height: 25px;
    line-height: 25px;
}

