.filepicker{
    margin: 50px 0 0 0;
    width: 160px;
    height:44px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    background: #415F86;
}
.filepicker input[type="file"]{
    position: relative;
    top: -44px;
    left: 0;
    width: 160px;
    height: 44px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;

}

div.btn-submit button{
    width: 160px;
    height:44px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    background: #1791D6;
    border: none;
    cursor: pointer;
    margin: 50px 0;
}
.well{
    min-height: 400px;

}
.state{
    height: 110px;
    width: 790px;
    background: url("../images/all.png") 0 -220px no-repeat;
    margin: 0 auto;

}
.overlook{
    margin: 50px 0 0 0;
}